


#title {
     background-color: darkslateblue;
     color:ghostwhite;

}




footer {

    background-color:darkslateblue ;
    color:ghostwhite;
    width:auto;
    height: 100px;
text-indent: 10px;
}