


#title {
     background-color:14, 9, 44;
     color:ghostwhite;

}




footer {

    background-color:rgb(14, 9, 44) ;
    color:ghostwhite;
    width:auto;
    height: 100px;
text-indent: 10px;
}